## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Lorengau,PG,82.11,light rain,-2.0226,147.2712,NaN
1,9,Atuona,PF,80.74,overcast clouds,-9.8000,-139.0333,NaN
2,11,Ahuimanu,US,78.80,light rain,21.4447,-157.8378,NaN
3,14,Chilca,PE,75.00,clear sky,-12.5211,-76.7372,NaN
4,15,Isangel,VU,80.37,overcast clouds,-19.5500,169.2667,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== "Lorengau")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Lorengau")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Atuona")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Chilca")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Isangel")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Lorengau,PG,82.11,light rain,-2.0226,147.2712,NaN

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop1 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vac_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3]
    travel_mode = "Driving")

fig.add_layer(vac_itinerary)
fig

SyntaxError: invalid syntax (<ipython-input-19-656ba36a667e>, line 6)

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
combined_cities = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]

four_cities_df = pd.concat(combined_cities, sort=False)
four_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Lorengau,PG,82.11,light rain,-2.0226,147.2712,NaN
1,9,Atuona,PF,80.74,overcast clouds,-9.8000,-139.0333,NaN
3,14,Chilca,PE,75.00,clear sky,-12.5211,-76.7372,NaN
4,15,Isangel,VU,80.37,overcast clouds,-19.5500,169.2667,NaN

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in four_cities_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = four_cities_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
max_temp = four_cities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))